{% extends "base.html" %}
{% block content %}
<div class="max-w-4xl mx-auto px-4 text-white">
    <h1 class="text-3xl font-bold mb-6">Contact Us</h1>

    <p class="mb-4">
        For support, feedback, or business inquiries, please contact us at:
    </p>

    <p class="text-blue-400 font-semibold">
        pinkidevicpr@gamil.com
    </p>

    <p class="mt-4">
        We aim to respond within 24-48 hours.
    </p>

    <!-- Ad Space -->
    <div class="mt-12 glass-panel p-4 rounded-2xl overflow-hidden">
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6582101258895011"
            data-ad-slot="6700052244" data-ad-format="auto" data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>
{% endblock %}